<div class="row">
  <div class="col-md-12">
    <img src="" alt="" class="ing-responsive">
  </div>
</div>
<div class="row">
    <div class="col-md-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="bnt-group">
      <button
      type="button"
       class="btn btn-primary dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Manage Recipe 
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#"  style="color:black">To shopping List</a> </li>
        <li><a href="#"  style="color:black">edit Recipe</a> </li>
        <li><a href="#"  style="color:black">Delet eRecipe</a> </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      Description
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
        Ingredients
      </div>
    </div>  